* {
    box-sizing: border-box;
}


a:nth-child(1){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-left-style:hidden;
    border-bottom-style:hidden;
    border-top-style:hidden;
    margin : 3px;

}

a:nth-child(2){
    table-layout: fixed;
    width:10%;
    border-bottom-style:hidden;
    border-top-style:hidden;
    margin: 3px;
    
}

a:nth-child(3){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-right-style:hidden;
    border-bottom-style:hidden;
    border-top-style:hidden;
    margin: 3px;
}
div:nth-child(1){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-left-style:hidden;
    border-right-style:hidden;
    border-top-style:hidden;
    margin:5px;
}

div:nth-child(2){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-left-style:hidden;
    border-right-style:hidden;
    margin:5px
}

div:nth-child(3){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-left-style:hidden;
    border-right-style:hidden;
    border-bottom-style:hidden;
    margin: 5px
}
body{
    font-size:20px;
}
a:visited{
    color:blue;
}