* {
    box-sizing: border-box;
}


a:nth-child(1){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-left-style:hidden;
    border-bottom-style:hidden;
    border-top-style:hidden;
    



}

a:nth-child(2){
    border: 1px solid black;
    table-layout: fixed;
    width:10%;
    border-bottom-style:hidden;
    border-top-style:hidden;
    
    
}

a:nth-child(3){
    border:1px solid black;
    table-layout: fixed;
    width:10%;
    border-right-style:hidden;
    border-bottom-style:hidden;
    border-top-style:hidden;
    
}
div:nth-child(1){
    border:1px solid black;
    table-layout: fixed;
    width:8%;
    border-left-style:hidden;
    border-right-style:hidden;
    border-top-style:hidden;
    margin:10px;
    margin-top:30px;
    
}

div:nth-child(2){
    border:1px solid black;
    table-layout: fixed;
    width:8%;
    border-left-style:hidden;
    border-right-style:hidden;
    margin:10px;
    ;
}

div:nth-child(3){
    border:1px solid black;
    table-layout: fixed;
    width:8%;
    border-left-style:hidden;
    border-right-style:hidden;
    border-bottom-style:hidden;
    margin: 10px;
    
}
body{
    font-size:20px;
}
a:visited{
    color:blue;
}
a{
    text-decoration: none;
    

}